.tabset {

  background-color: #FDFDFD;

  & > ul {
    display: flex;
    align-content: stretch;
    justify-content: flex-start;
    margin: 0;
    padding: 0;

    .tabset--active {
      background-color: transparent;
    }

    & > li {
      flex: 1;
      display: block;
      border-right: 1px solid #EEE;
      padding: 0;
      background-color: #EEE;

      &:last-child {
        border-right:none;
      }

      & > button {
        text-decoration: none;
        width: 100%;
        background-color: transparent;
        border: none;

        &:focus {
          outline: 0;
        }
      }
    }
  }

  & > div {
    & > section {
      display: none;

      &.tabset--active {
        display: block;
      }
    }
  }
}